name: Create Release

on:
  push:
    branches:
      - main

jobs:
  create_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: Set up Git
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          
      - name: Archive Files
        run: |
          tar -czf OpenLinkway.tar.gz styles.css script.js index.html LICENSE.md

          
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: OpenLinkway.tar.gz
          tag: release-${{ github.sha }}
          body: |
            Release ${{ github.sha }}
          omitNameDuringUpdate: true
          omitBodyDuringUpdate: true
          omitDraftDuringUpdate: true
          omitPrereleaseDuringUpdate: true
